{% from "./type.html" import type %}

{% macro headerSubSchemaProp(prop, propName, odd=false, required=false) %}

<div class="{% if odd %}bg-grey-lighter{% else %}bg-grey-lightest{% endif %} {% if not root %}pl-8 pr-8{% endif %} rounded">
  <div class="{% if open %}is-open{% endif %}">
    <div class="flex property">
      <div class="pr-4" style="margin-top:-2px; width: 15%; min-width: 100px; max-width: 160px">
        <span class="text-sm {% if specialName %}italic text-grey{% endif %}" style="word-break: break-word;">{{propName}}</span>
      </div>

      <div>
          <div class="capitalize text-sm text-teal font-bold">{{ prop.type }}</div>

        {% if prop.description %}
          <div class="text-sm markdown">{{ prop.description | markdown2html | safe }}</div>
        {% endif %}
        {% if prop.enum %}
          <div class="text-xs">
            Enum:
            {% for value in prop.enum %}
            <span class="border text-orange rounded ml-1 py-0 px-2">{{value | dump}}</span>
            {% endfor %}
          </div>
        {% endif %}
        {% if prop.examples %}
          <div class="text-xs">
            Examples:
            {% for value in prop.examples %}
              <span class="border text-orange rounded ml-1 py-0 px-2">{{value | dump}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endmacro %}
